body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 250px;
	background-image: url('img/ticks.png');
}

.ticket {
	margin: 0 auto 0 auto;
	height: 800px;
	width: 1000px;
	background-image: url('img/ticket.png');
	text-align: center;
}

#counter {
	padding-top: 230px;
}